.block_my_peers_header_group {
  text-align : center;
  font-weight : bold  ;
}
/*  added JR (copied from block_online_users) */

.block_my_peers .content .list li.listentry {clear:both;}
.block_my_peers .content .list li.listentry .user {float:left;position:relative;}
.block_my_peers .content .list li.listentry .message {float:right;}
.block_my_peers .content .info {text-align:center;}
.block_my_peers .content {font-size: 0.8em;}

.dir-rtl .block_my_peers .content .list li.listentry .user {float:right;}
.dir-rtl .block_my_peers .content .list li.listentry .message {float:left;}

.block_my_peers .footer {
	text-align: left!important;
}
.block_my_peers hr.separator {
    height: 1px;
    margin: 0.2em 0;
    padding: 0;
    color: #666666;
    background-color: #CCCCCC;
    border: 0;
}